.rights-wrapper{
    height: 7.5em;
    text-align: center;
}
.copyright{
    padding-top: 4em;
    font: 100%/1.5 Nunito, sans-serif
}
.designer{
    padding-top: 1em;
    font: 80%/1 Nunito, sans-serif
}
.designer-link{
    text-decoration: none;
    color: #1e90ff;
}